/* General styling */
:root {
  --card-width: 360px;
  --header-height: 10vh;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #f5f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8lh 3vw;
  flex-direction: column;
  /* Stack items vertically */
  row-gap: 20px;
  text-align: center;
  pointer-events: none;
}

header {
  background-color: #1e1e2f;
  color: white;
  padding: 2rem 1rem;
  text-align: left;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

button.file-select-button {
  display: inline-block;
  position: absolute;
  top: 30%;
  right: 5rem;
  background-color: #2e8b57;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  border-radius: 6px;
  font-size: 22px;
  font-weight: 600;
  cursor: pointer;
  pointer-events: auto;
}


header h1 {
  margin: 0 0 0.5rem;
  font-size: 2rem;
}

header p {
  font-size: 1.125rem;
  margin: 0;
}


main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  text-align: left;
}

section {
  max-width: 800px;
  width: 100%;
}

h2 {
  font-size: 1.5rem;
  margin-top: 2rem;
}

ul {
  list-style: none;
  padding: 0;
}

ul li::before {
  content: '✔';
  margin-right: 0.5rem;
  color: #2e8b57;
}


.card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  width: var(--card-width);
  display: flex;
  flex-direction: column;
  gap: 0px;
  pointer-events: auto;
}

.card-top {
  display: inherit;
  flex-direction: inherit;
  gap: 16px;
  padding: 24px;
  background-color: #e5e5d7;
  padding: 15px 20px;
  border-radius: 10px 10px 0px 0px
}

.card-inputs {
  display: inherit;
  flex-direction: inherit;
  gap: 16px;
  padding: 15px 20px;

}

.card:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

/* File name and icon styling */
.file-name {
  font-size: 18px;
  font-weight: 600;
  color: #1d1d1f;
  margin-bottom: 2px;
  display: flex;
  align-items: top;
  text-align: left;
  overflow: hidden;
  justify-content: space-between;
}

.file-name svg {
  margin-right: 8px;
  flex-shrink: 0;
  height: 30px;
  fill: #02104d;
  fill-rule: evenodd;
  clip-rule: evenodd;
}

.file-name-text {
  text-overflow: ellipsis;
  padding-right: 8px;
  overflow: hidden;
  /* text-wrap: nowrap; */
  max-height: 2lh;
}

.file-name-icons {
  display: flex;
}

.file-subtext {
  font-size: 14px;
  padding: 0px;
}


/* Input Group Styling */
.input-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* Align input left, button right */
  gap: 8px;
  width: 100%;
  height: 2lh;
}

input[type="text"] {
  flex-grow: 1;
  min-width: 0;
  /* Prevents overflow */
  padding: 8px 12px;
  border: 0px solid #ccc;
  border-bottom: 1px solid #000;
  font-size: 14px;
}

input[type="text"]:focus,
input[type="text"]:hover {
  outline: none;
  background-color: #ccc;
  border-radius: 8px;
  border-bottom: 1px solid #ccc;
}

.card button,
a.save-button,
.card button:focus,
a.save-button:focus {
  width: 80px;
  /* Fixed size for all buttons */
  flex-shrink: 0;
  padding: 8px 0;
  background-color: #007aff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  font-family: inherit;
  outline: none;

}

.card button:hover {
  background-color: #005fcc;
}

a.save-button {
  background-color: #00ffbf;
}

a.save-button:hover {
  background-color: #005fcc
}

/* Status message styling */
.status-message {
  flex-shrink: 1;
  padding: 8px 12px;
  text-align: left;
  font-size: 14px;
  color: #28a745;
}

/* Styling for Drag and Drop Area */
.drag-area-header {
  border: none;
  border-radius: 12px;
  padding: 0;
  text-align: center;
  cursor: pointer;
  background-color: #d5f5f7d0;
  transition: background-color 0.3s;
  width: 100%;
  position: fixed;
  top: 0;
  height: var(--header-height);
  display: flex;
  flex-flow: column;
  align-items: center;

}

.drag-area {
  border: none;
  position: fixed;
  top: 16%;
  width: 90%;
  height: 74%;
  z-index: -10;
  pointer-events: auto;
  opacity: 0;
  xdisplay: none;

}

.drag-area-underlay {
  border: 0px solid #000;
  position: fixed;
  top: 5dvh;
  width: 90%;
  height: 90dvh;
  z-index: -30;
  pointer-events: auto;
}

.drag-area.highlight {
  border: 1px dashed;
  border-radius: 10px;
  background-color: #e1f4fe;
  opacity: 0.8;
  border-color: purple;
  backdrop-filter: blur(6px);
  /* top: 9%;
  height: calc(var(--header-height) * 0.82);
  width: calc(var(--card-width)*1.11); */
  transition: all 0.1s;
  pointer-events: auto;
  z-index: 100;
  display: revert;
}

.drag-area p {
  margin: 0;
  color: #007aff;
  font-size: 16px;
  user-select: none;
  text-align: center;
  width: 100%;
}

footer {
  background-color: rgba(30, 30, 47, 0.9);
  backdrop-filter: blur(6px);
  color: white;
  text-align: center;
  padding: 1vh;
  /* padding: 1rem; */
  font-size: clamp(3px, 1.5vh, 1000px);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

nav a {
  margin: 0 1vh;
  color: #2e8b57;
  text-decoration: none;
}

/* Media Query for Mobile */
@media (max-width: 520px) {
  .card {
    width: 90%;
    padding: 16px;
  }

  /* Styling for Drag and Drop Area */
  .drag-area {
    width: 90%;
    /* Adjust width to 90% of parent container */
    padding: 15px;
    /* Reduce padding for small screens */
    font-size: 14px;
    /* Adjust font size for smaller screens */
    margin-bottom: 20px;
    /* Space between drag area and card */
  }
}

/* Hidden class - placed last to override preceding */
.hidden {
  display: none;
}