/* General styling */
:root {
  --card-width: 460px;
  --header-height: 7lh;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #f5f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3vh 3vw;
  flex-direction: column; /* Stack items vertically */
  row-gap: 20px;
  text-align: center; /* Ensure center alignment for text */
  margin-top: 9lh;
}

.card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);

  width: var(--card-width);
  display: flex;
  flex-direction: column;
  gap: 0px;
  transition: all 0.3s ease;
}

.card-top { 
display: inherit;
flex-direction: inherit;
gap: 16px;
padding: 24px;
background-color: #e5e5e7;
padding: 15px 20px;
border-radius: 10px 10px 0px 0px
}

.card-bottom { 
  display: inherit;
  flex-direction: inherit;
  gap: 16px;
  padding: 15px 20px ;
  }

.card:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

/* File name and icon styling */
.file-name {
  font-size: 18px;
  font-weight: 600;
  color: #1d1d1f;
  margin-bottom: 2px;
  display: flex;
  align-items: top;
  text-align: left;
  overflow: hidden;
  justify-content: space-between;
}

.file-name svg {
  margin-right: 8px;
  flex-shrink: 0;
  height: 30px;
  fill: #85B09A;
  fill-rule: evenodd;
  clip-rule: evenodd;
}

.file-name-text {
  text-overflow: ellipsis;
  padding-right: 8px;
  overflow: hidden;
  /* text-wrap: nowrap; */
  max-height: 2lh;
}

.file-name-icons {
  display: flex;
}

.file-subtext {
  font-size: 14px;
  padding: 0px;
}


/* Input Group Styling */
.input-group {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Align input left, button right */
  gap: 8px;
  width: 100%;
}

input[type="text"] {
  flex-grow: 1;
  min-width: 0; /* Prevents overflow */
  padding: 8px 12px;
  border: 0px solid #ccc;
  border-bottom: 1px solid #000;
  font-size: 14px;
}

input[type="text"]:focus, input[type="text"]:hover {
  outline: none;
  background-color: #ccc;
  border-radius: 8px;
  border-bottom: 1px solid #ccc;
}

button, a.save-button, button:focus, a.save-button:focus {
  width: 80px; /* Fixed size for all buttons */
  flex-shrink: 0;
  padding: 8px 0;
  background-color: #007aff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  font-family: inherit;
  outline: none;

}

button:hover {
  background-color: #005fcc;
}

a.save-button {
  background-color: #00ffbf;
}

a.save-button:hover {
  background-color: #005fcc
}

/* Status message styling */
.status-message {
  flex-shrink: 1;
  padding: 8px 12px;
  text-align: left;
  font-size: 14px;
  color: #28a745;
}

/* Styling for Drag and Drop Area */
.drag-area-header {
  border: none;
  border-radius: 12px;
  padding: 0;
  text-align: center;
  cursor: pointer;
  background-color: #d5f5f7d0;
  transition: background-color 0.3s;
  width: 100%; 
  position: fixed;
  top: 0;
  height: var(--header-height);
  display: flex;
  flex-flow: column;
  align-items: center;
  
}

.drag-area {
  /* border: 1px solid #ee9292; */
  border-radius: 2px;
  padding: 0px;
  text-align: center;
  cursor: pointer;
  background-color: #f5f5f7;

  width: calc(var(--card-width)*1.1);
  position: absolute;
  top: 10%;
  height: calc(var(--header-height) * 0.8);
  display: flex;
  flex-flow: row;
  align-items: center;
  /* box-shadow: 0 16px 32px rgba(0, 0, 0, 0.1); */
}

.drag-area.highlight {
  border: 1px dashed;
  background-color: #e1f4fe;
  opacity: 0.8;
  border-color: purple;
  backdrop-filter: blur(6px);
  /* top: 9%;
  height: calc(var(--header-height) * 0.82);
  width: calc(var(--card-width)*1.11); */
  transition: all 0.2s ;
}

.drag-area p {
  margin: 0;
  color: #007aff;
  font-size: 16px;
  user-select: none;
  text-align: center;
  width: 100%;
}


/* Media Query for Mobile */
@media (max-width: 520px ) {
  .card {
    width: 90%;
    padding: 16px;
  }
 
  /* Styling for Drag and Drop Area */
  .drag-area {
    width: 90%; /* Adjust width to 90% of parent container */
    padding: 15px; /* Reduce padding for small screens */
    font-size: 14px; /* Adjust font size for smaller screens */
    margin-bottom: 20px; /* Space between drag area and card */
  }
}
/* Hidden class - placed last to override preceding */
.hidden {
  display: none;
}